
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  background-color: #EBE9E9;
  width: 100%
}

.navbar {
  text-align: center;
}


/* BROWSE */
.muscle-group, .muscle-group-pic {
  background-color: #336B89;
  
}

.workout-focus, .workout-focus-pic {
  background-color: #05ABC4;
  
}

.difficulty-level, .difficulty-level-pic {
  background-color: #B4B4B4;
  
}

.header-image {
  width: 100%;
  padding: 0px;
}


/* View Single Workout */
.view-workout, .create-workout {
  background-color: white;
  border-color: black;
  border-radius: 15px;
}

.viewworkout-name {
  text-align: center;
}


/* Create Workout */
.workout-create {
  text-align: right;
}