
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  background-color: #EBE9E9;
  width: 100%;
}

.navbar {
  text-align: center;
  padding-bottom: 0;
}

.nav-btn {
  font-size: 20px
}

.action-buttons{
  width: 120px
}

.view-workout, .create-workout, .results-section {
  background-color: white;
  border-color: black;
  border-radius: 15px;
  margin-bottom: 30px;
  
}

.results-section {
  margin-top: 20px;

}

.icon-btn {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
}
/* BROWSE */

.browse-btn {
  transition: 350ms ease-in-out;
  -webkit-transition: 350ms ease-in-out;
  -ms-transition: 350ms ease-in-out;
}

.browse-btn:hover {
letter-spacing: 2px;
transition: 350ms ease-in-out;
-webkit-transition: 350ms ease-in-out;
-ms-transition: 350ms ease-in-out;
}

.muscle-group, .muscle-group-pic {
  background-color: #336B89;
}

.workout-focus, .workout-focus-pic {
  background-color: #B4B4B4;
}

a { 
  color: rgb(20, 20, 20)
}

a:hover {
  color: rgb(49, 49, 49)
}

.workout-card:hover {
  cursor: pointer;
  background-color: rgb(225, 243, 255);
  transition: 0.6s;
}

.workout-focus, .muscle-group, .difficulty-level {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-image {
  width: 100%;
  padding: 0px;
}

.banner-image {
  width:100%;
  max-width: 380px
}

.search-bar-container, .filter-buttons {
  display:flex;
}

.workout-card {
  border: 2px solid rgb(25, 50, 121);
  border-radius: 15px;
  margin-top: 10px;
  text-align: center;
  padding: 20px;
  width: 100%;
  
}

.backtotop-btn {
  border: 1px solid rgb(25, 50, 121);
  margin-bottom: 10px;
}


.workout-card-name {
  font-size: 18px
}

.workout-card-text {
  margin-bottom: 0px;
  font-size: 13px;
  color:rgb(26, 79, 128);
  font-style: italic;
}


/* Create & Edit Workout */

.create-workout {
  padding: 30px;
}

h1 {
  margin-bottom: 20px;
}

.workoutform-label, .workoutform-focus, .workoutform-difficulty, .workoutform-intensity, .workoutform-muscle, .workoutform-duration, .workoutform-exercise, .workoutform-rep, .workoutform-set, .addnew-btn {
  margin-bottom: 20px;
}

.form-label {
  margin-bottom: 4px;
  font-size: 18px;
}

.form-check-label {
  margin-left: 4px;
  margin-right: 10px;
}

.addnew-btn, .create-workout-btn, .create-comment-btn {
  border: 1px solid rgb(173, 173, 173);
}

.deleteex-btn, .cancel-workout-btn, .cancel-comment-btn {
  margin-left: 8px;
}

.add-delete-button {
  display: flex;
  justify-content: flex-end;

}

.create-cancel-btn {
  display: flex;
  justify-content: center;
}

/* View Single Workout */

.clock-icon .fa-clock  {
  color:#103ebb
}

.fire-high .fa-fire, .tachometer-expert .fa-tachometer-alt{
  color: #bb1e10
}

.fire-low .fa-fire, .tachometer-beginner .fa-tachometer-alt {
  color:#33a532
}

.fire-medium .fa-fire, .tachometer-intermediate .fa-tachometer-alt {
  color:#f7b500
}

.mobile-wrapper {
  font-size: 15px;
}

.m-muscle-tag-wrapper, .m-focus-tag-wrapper, .m-equipment-tag-wrapper{ 
  height: 100%;
  padding: 10px;
  font-size: 12px;
}

.m-item-wrapper{
  border-radius: 15px;
  margin-bottom: 10px;
  background-color: #f8f8f8;
}

.m-tags-text {
  font-size: 13px;
  margin-bottom: 0.4rem;
}

.workout-section {
  text-align: center;
  display: flex;
  justify-content: center;
}

.item-wrapper{
  margin-bottom: 20px;
}

.muscle-tag-wrapper, .focus-tag-wrapper, .equipment-tag-wrapper {
  border-radius: 15px;
  margin-bottom: 8px;
  height: 100%;
  padding: 12px;
  background-color: #e6e6e6;
  font-size: 13px;
  text-align: left;
}

.tags-text {
  font-size: 14px;
  margin-bottom: 0.5rem;
}

.es-table thead th {
  color: #ffffff;
  background: #3d639b;
}

.es-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #77a8d1;
}

.es-table tr:nth-child(even) {
  background: #F8F8F8;
}

.ed-table, .eg-table, .es-table {
  border-radius: 5px;
  font-weight: normal;
  border: 1px solid #b3b3b3;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  background-color: white;
  margin-bottom: 10px;
  
}

.eg-table td, .eg-table th, .ed-table td, .ed-table th {
  text-align: center;
  padding: 8px;
}

.eg-table td .ed-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 15px;
}

.eg-table thead th, .ed-table thead th {
  color: #ffffff;
  background: #77a8d1;
}


.eg-table thead th:nth-child(odd), .ed-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #3a6fa3;
}

.eg-table tr:nth-child(even), .ed-table tr:nth-child(even) {
  background: #F8F8F8;
}

.comment-section {
  background-color: #e4e4e4;
  border-radius: 15px;
  margin-top: 10px;
  padding: 30px 20px;
}

.new-comment, .review-label, .create-commenttext, .create-commentname, .create-comment-btn {
  margin-bottom: 10px
}

.comment-list {
  display: flex;
  border-bottom: 1px solid rgb(196, 196, 196);
  margin-bottom: 10px;
}

.comment-name {
  font-size: 17px;
}

.edit-btn {
  border: 1px solid rgb(168, 168, 168);
  margin-right: 7px;
}

/* MOBILE SIZE */

@media screen and (max-width: 767px) {

  .nav-btn {
    font-size: 18px;
  }
  
  h5 {
    font-size: 17px;
  }

  h3 {
    font-size: 20px;
  }

  .logo-image {
    height: 125px;
    width: 125px;
  }

  .muscle-group-pic, .workout-focus-pic {
    display: none;
  }

  .search-bar-container {
    flex-direction:column
  }

  .filter-buttons {
    justify-content: flex-end;
  }

  .workout-card-name {
    font-size: 15px;
  }

}
