
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  background-color: #EBE9E9;
  width: 100%
}

.navbar {
  font-size: 20px;
}
.muscle-group {
  background-color: #336B89;
  
}

.workout-focus {
  background-color: #05ABC4;
  
}

.difficulty-level {
  background-color: #B4B4B4;
  
}

.header-image {
  width: 100%
}


